@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4" style="background: linear-gradient(90deg, #106dd1, #9012d3); display: flex; align-items: center; justify-content: center; height: 100px;">
            <h3 style="color:white; margin: 0;"><strong>MARATHON, TU TIENDA DE CONFIANZA! 😉😎😉</strong> </h3>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
