<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="">
            <img src="img/marathon.png" width="180"  alt="Marathon Logo">
        </a>
        <button title="Navigation menu" class="navbar-toggler ms-auto" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PersonalMT">
                <i class="fa-solid fa-id-card" style="font-size: 17px; margin-right: 8px;"></i> <p style ="margin:0px;">Personal</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClienteMT">
                <i class="fa-solid fa-address-book" style="font-size: 17px; margin-right: 8px;"></i> <p style ="margin:0px;">Cliente</p>
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductoMT">
                <i class="fa-solid fa-shirt" style="font-size: 17px; margin-right: 8px;"></i> <p style ="margin:0px;">Producto</p>
            </NavLink>
        </div> 
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
